/*DASBOARD*/
.dashboard-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f9fafb;
  min-height: 100vh;
}

/* === Indicadores principais === */
.dashboard-indicators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
}

.dashboard-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.dashboard-card h3 {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.dashboard-card p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #111827;
}

/* Lucro em verde */
.dashboard-card.profit p {
  color: #16a34a;
}

/* === Área dos gráficos === */
.dashboard-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.chart-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
}

.chart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-card h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
}

/* Responsividade */
@media (max-width: 1024px) {
  .dashboard-charts {
    grid-template-columns: 1fr;
  }
}
