


/*Pedidos*/
/* Container geral da página */
.order-page {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #003366; /* azul escuro */
}

.title-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-filters{
    display: flex;
    align-items: center;
    gap: 1vh;
    flex-direction: row;
    justify-content: center;
    
}

.order-block {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.order-block h5 {
    margin-bottom: 0.5rem;
    color: #0077b6; /* azul médio */
}

.order-block p {
    margin: 0.2rem 0;
}

.order-items {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.order-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    transition: transform 0.2s;
}

.order-item img{
    max-width: 15vh;
    max-height: 20vh;
}

.order-item:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.order-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.order-item-info h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #0077b6;
}

.order-item-details p {
    margin: 0.2rem 0;
}

.btn-cancelar {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.btn-cancelar:hover {
    background-color: #c9302c; 
    color: #fff;
}


@media (max-width: 768px) {
    .order-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .order-item-info {
        flex-direction: column;
        align-items: flex-start;
    }
}
.loading-state {
  background-color: #f9f9f9;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #4caf50; 
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
